<h1>カンタン入力</h1>
<div class="form-container">
<div class="form-inputs-fees">
<%= form_for @fee, :html => {:class => "ui form"} do |f| %>
  <p class="field">
    <label>月</label>
    <%= f.date_select :month, :discard_day=>true %>
  </p>

  <p class="field">
    <label>世帯人数</label>
    <%= f.number_field :people_number,:class=>"input_form" %>
  </p>

  <p class="field">
    <label>電気代</label>
    <%= f.number_field :electricity,:class=>"input_form" %>
  </p>

  <p class="field">
    <label>ガス代</label>
    <%= f.number_field :gas,:class=>"input_form" %>
  </p>

  <p class="field">
    <label>水道代</label>
    <%= f.number_field :water,:class=>"input_form" %>
  </p>
    <%= f.submit "完了" , :class=>"ui green button" %>
<% end %>
</div>
</div>
