<!DOCTYPE html>
<html>
  <head>
    <title>ECOBILL</title>

    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header"%>
    <p class="alert" style="text-align:center;"><%= alert %></p>
    <%= yield %>
  </body>
</html>
