<div class="form-container">
<h2 class="login-title">アカウントを作成</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%#= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス" %>
  </div>

  <div class="field">
    <%#= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password",placeholder: "パスワード" %>
  </div>

  <div class="field">
    <%#= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "パスワードの再確認" %>
  </div>

  <div class="actions">
    <%= f.submit "サインアップ", :class=>"ui green button"  %>
  </div>
<% end %>

<%#= render "users/shared/links" %>
</div>
